<h2>Connexion</h2>

<form action="http://localhost:8080/login" method="post">

    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    </div>

    <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>

    <button class="btn btn-primary" type="submit">Sign in</button>

</form>
