<h2>Enregistrer votre Smart Watering</h2>

<form action="http://localhost:8080/adduser" method="post">

    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    </div>

    <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>

    <div class="form-group">
        <label for="inputBP" class="sr-only">Localité</label>
        <input name="bp" type="text" id="inputBP" class="form-control" placeholder="Localité (06000 Nice)" required>
    </div>

    <button class="btn btn-primary" id="btn-register" type="submit">Register</button>

</form>

<!-- <script>
    $(document).ready(function () {
        $("#btn-register").click(function () {
            var email = $("#inputEmail").val();
            var password = $("#inputPassword").val();
            var locality = $("#inputBP").val();
            $.post("/", {
                Email: email,
                Password: password,
                Locality: locality
            });
        });
    });
</script> -->
