html, body {
    height: 100%;
    margin: 0%;
}
body{
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    height: 100%;
    margin: 0%;
}
h1{
    font-weight: normal;
    font-size: 10vh;
}

h2{
    font-size : 5vh; /* viewport : according to screen*/
}

p {
    font-size: 5vh;
}

ul{
    list-style-type:none;
}


.softEdgedButton {
    background-color: rgb(255, 94, 0);
    border: none;
    color: whitesmoke;
    padding: 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4wh;
    border-radius: 12px;
    height: 90%;
}

.softEdgedButton:hover {background-color:rgba(255, 94, 0, 0.541)}

.softEdgedButton:active {
  background-color: rgba(255, 94, 0, 0.541);
  transform: translateY(4px);
}


.blockButton {
    width : 100%;
}


#blocklyArea {
    height: 100%;
    width: 100%;
    background-color: blanchedalmond;
    margin: 0%;
    position: absolute;
}

#blocklyDiv{
    height: 100%;
    position: absolute;
    max-height: 100%;
}

#generatedCodeArea {
    height: 100%;
}

#generated {
    height: 100%;
    width: 100%;
    resize: none;
}

#cardZone {
    max-width: 99%;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

#toolbox {
    background-color: aquamarine;
    height: 50%;

}