<meta charset="utf-8">

<title>Smart Watering</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

<body class="text-center">

    <div class="container" style="width:500px;">
        <% include ../partials/login %>

        <% include ../partials/register %>
    </div>

    <% include ../partials/footer %>
</body>
