html, body {
    height: 100%;
    margin: 0%;
}
body{
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}
h1{
    font-weight: normal;
    font-size: 140%;
}

table{
    height: 100%;
    width: 100%;
}

#blocklyArea {
    height: 60%;
    width: 99%;
    background-color: blanchedalmond;
    text-align: center;
}

#blocklyDiv{
    height: 30%;
    position: absolute;
    left: 2px;
    max-height: 60%;
}

#generatedCodeArea {
    height: 99%;
}

#generated {
    height: 100%;
    width: 100%;
    resize: none;
}

#cardZone {
    max-width: 99%;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}